@import "reset.css";
@import "components/contents.css";
@import "components/video.css";
@import "components/nav.css";

@font-face {
  font-family: "KBO-Dia-Gothic_bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/KBO-Dia-Gothic_bold.woff")
    format("woff");
  font-weight: 500;
  font-style: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: black;
  font-family: "KBO-Dia-Gothic_bold";
  min-width: 1000px;
}
