.video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  z-index: 1;
  top: -100px;
}

.video > video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.video__detail {
  margin: 100px;
  padding: 10px 20px;
  position: absolute;
  top: 700px;
  left: 100px;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
}

.video__detail--title {
  font-size: 40px;
  margin-bottom: 10px;
}
