@import "../animation.css";

.video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  top: -12vh;
  min-width: 1100px;
  margin-bottom: 0;
}

.video > video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}

.video__detail {
  animation: fadeIn 1.3s ease-in-out forwards;
  animation-delay: 0.6s;
  opacity: 0;
}

.video__detail {
  margin: 100px;
  padding: 1rem 2rem;
  position: absolute;
  top: 60%;
  left: 5%;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
}

.video__detail--title {
  font-size: 4rem;
  margin-bottom: 10px;
}

.video__detail--description {
  font-size: 3rem;
  margin-bottom: 10px;
}
